body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    /*background: linear-gradient(to right, #9771f0, #fbc2eb);*/
    background-image: url(360_F_1034135202_w5wVDd7L6VpLrOPzFoCQmfs1VtWwOZ9c.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  .container {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  .profile-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
  }
  
  h1 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .bio {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .links a {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .links a:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  .languages{
    padding: 4px;
    margin: 4px;
    align-items: center;
    
  }
  .html{
    color: orange;


  }
  .css{
    color: rgb(0, 221, 255);
  }
  .javascript{
    color: yellow;
  }
  .nodejs{
    color: greenyellow;
  }